<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7" />

    <link rel="stylesheet" href="./MDL/material.min.css">
    <script src="./MDL/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="css/thema.css">
    <link rel="stylesheet" href="css/index.css">

    <title>Vote</title>
</head>

<body>
    <a href="/" id="homeBtn"><i class="display-4 material-icons">home</i></a>
    <div id="app">
        <div id="loginBox">
            <img id="logo" src="./assets/logo.png" alt="">
            <% if (!user) { %>
            <button id="loginBtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                로그인
            </button>
            <a style="color:white;" href="/register">
                <button id="registerBtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                    회원가입
                </button>
            </a>
            <form action="/auth/login" method="POST" id="loginForm">
                <button id="loginForm_submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                    <i class="display-2 material-icons">lock_open</i>
                </button>
                <div id="loginForm_input">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="email" id="id" name="username">
                        <label class="mdl-textfield__label" for="id">아이디</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="password" name="password">
                        <label class="mdl-textfield__label" for="password">비밀번호</label>
                    </div>
                </div>
            </form>
            <% } else{ %>
            <div style="text-align:center;">
                <img id="profile" src="./assets/user.png" width="60px">
                <a style="display:block" href="/myinfo" id="username"><%= user.username %></a><br>
                <a href="/auth/logout" id="logout">로그아웃</a>
            </div>
            <% } %>
        </div>
        <div>
            <a href="/join" id="joinVote" class="voteBox">
                <div class="voteBox_img">
                    <img src="./assets/join.png" alt="" width="100%">
                    <div class="img_Text">투표참여</div>
                </div>
                <div class="voteBox_text">당신의 의견을<br>투표를 통해서<br>표현하세요!</div>
            </a>
            <a href="/create" id="createVote" class="voteBox">
                <div class="voteBox_img">
                    <img src="./assets/create.png" alt="" width="100%">
                    <div class="img_Text">투표 작성</div>
                </div>
                <div class="voteBox_text">투표를 작성해서<br>사람들의 의견을<br>조사하세요!</div>
            </a>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>